$fweight: bolder;

@mixin font-family($font) {
  font-family: $font;
}

@mixin backgroundColor($color) {
  background-color: $color;
}

@mixin textColor($color) {
  color: $color;
}

@mixin borderRadius($border: 2px, $border-style: solid, $border-color: beige) {
  border: $border;
  border-color: $border-color;
  border-style: $border-style;
}

@mixin widthHeight($width: 23rem, $height: 10rem) {
  width: $width;
  height: $height;
}

@mixin fontSize($size) {
  font-size: $size;
}

@mixin frame($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin alignment($dis: flex, $justy: center, $alig: center) {
  display: $dis;
  justify-content: $justy;
  align-items: $alig;
}

.header-title {
  @include backgroundColor(white);
  @include font-family(Arial);
  @include fontSize(2rem);
  font-weight: bolder;
  text-align: center;
  text-decoration: underline orange 5px;
  margin-top: 2rem;
}

.product {
  @include alignment();
  gap: 1rem;
  margin-top: 1rem;
}

.product-image {
  @include backgroundColor(orange);
  @include borderRadius();
  @include widthHeight();
  @include font-family(Times New);
  @include frame(100px, 0);
  text-align: center;
}

.product-content {
  @include alignment();
  gap: 1rem;
}

.product-information-frame {
  @include backgroundColor(white);
  @include borderRadius();
  @include widthHeight(22rem, 8.5rem);
  padding-left: 1rem;
}

.product__name {
  @include frame(15px, 4px);
  @include fontSize(1.2rem);
  @include font-family(Arial);
  font-weight: $fweight;
}

.product__text {
  @include frame(5px, 15px);
  @include font-family(Times New);
}

.product__dicount-price {
  @include fontSize(1.5rem);
  font-weight: $fweight;
}

.product__last-price {
  @include textColor(red);
  @include fontSize(1rem);
  text-decoration: line-through;
  margin: 0 5px;
}

.button-frame {
  @include alignment();
}

.product-button {
  @include backgroundColor(orange);
  @include borderRadius();
  margin-top: 6rem;

  @include widthHeight(250px, 70px);
  @include textColor(white);
  border-radius: 4px;
}
