$primaryC: orange;
$secondC: white;
$thirdC: red;

@mixin borderRadius($border: 2px, $border-style: solid, $border-color: beige) {
  border: $border;
  border-color: $border-color;
  border-style: $border-style;
}

@mixin widthHeight($width: 23rem, $height: 10rem) {
  width: $width;
  height: $height;
}

@mixin frame($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin alignment($dis: flex, $justy: center, $alig: center) {
  display: $dis;
  justify-content: $justy;
  align-items: $alig;
}

.header-title {
  background-color: $secondC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline orange 5px;
  margin-top: 2rem;
}

.products {
  text-align: center;
}

.product-container {
  gap: 1rem;
  margin-top: 1rem;
  @include alignment();

  .product-image {
    @include borderRadius();
    @include widthHeight(23rem, 15rem);
    @include frame(100px, 0);
    background-color: $primaryC;
    font-family: "Times New Roman", Times, serif;
  }

  .product-information-frame {
    @include borderRadius();
    @include widthHeight(22.4rem, 8.5rem);
    background-color: $secondC;
    margin-top: 14rem;
    text-align: left;
    padding-left: 10px;
  }

  .product-information__name {
    @include frame(15px, 4px);
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .product-information__text {
    @include frame(5px, 15px);
    font-family: "Times New Roman", Times, serif;
  }

  .product-information__dicount-price {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .product-information__last-price {
    color: $thirdC;
    font-size: 1rem;
    text-decoration: line-through;
    margin: 0 5px;
  }
}

.product-button-container {
  @include alignment();
  margin-top: 5rem;
}

.product-button {
  @include borderRadius();
  @include widthHeight(250px, 70px);
  background-color: $primaryC;
  color: $secondC;
  margin-top: 6rem;
}
